@import "./_001-todo-box-wrapper.scss";
@import "./_002-todo-date.scss";
@import "./_003-todo-functions";
@import "./010-add-todo-btn";
@import "./_101-todo-add-todos";
@import "./_201-todo-spinner";
@import "./_202-todo-no-todos";
@import "./_203-load-success";
@import "./204-search-mode";
@import "./_300-change-date";
@import "098-todo-logout-btn";
@import "./020-change-date-btn";
@import "./030-search-todo-btn";
@import "./400.search-todo";
.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.todo-logo {
  height: 100px;
  width: 100%;
  background: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  & > h1 {
    color: #fff;
    font-weight: 400;
  }
}
.todo-logo-line {
  position: absolute;
  bottom: 15px;
  height: 6px;
  width: 100%;
  background: #00d2d3;
}
.todo-logo-svg {
  position: absolute;
  right: 0;
  top: 0;
}
