.todo-functions {
  height: 300px;
  width: 329px;
  margin-left: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.todo-functions-inside {
  width: 100%;
  height: 50px;
  background: black;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s;
  user-select: none;
  position: relative;
  &:hover {
    color: #00d2d3;
  }
}
