.todo-logout-btn {
  color: rgba(255, 95, 87, 0.678);
  &:hover {
    color: #ff5e57;
  }
}
.add-todo-arrow {
  position: absolute;
  right: 10%;
  will-change: transform;
  transition: 0.3s ease;
}
.add-todo-arrow-down {
  transform: rotate(180deg);
}
.toggle-btn:hover > .toggle-btn-hover {
  transition: 0.3s ease;
  transition-delay: 0.7s;
  opacity: 1;
}
.toggle-btn-hover {
  position: absolute;
  height: 30px;
  width: 60%;
  background: #fff;
  border: solid 0.5px black;
  border-radius: 4px;
  padding: 5px;
  right: 0;
  bottom: -25px;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  text-align: center;
  color: black;
  opacity: 0;
}
