.load-success-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  position: relative;
}
.load-success-div {
  width: 80%;
  height: 40px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showTodo 0.5s ease forwards;
  position: relative;
  cursor: pointer;
  &:hover > p {
    color: #00d2d3;
  }
}
.load-success-div-done {
  &:hover > p {
    color: #ff5e57;
  }
}
.load-success-p {
  transition: color 0.3s;
  color: #ff5e57;
  font-weight: 600;
  font-size: 15px;
  pointer-events: none;
}
.load-success-p-done {
  color: #00d2d3;
}
.load-todo-svg {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 3px;
  transition: 0.3s;
  opacity: 0;
  left: 0;
  pointer-events: none;
}
.load-todo-svg-on {
  opacity: 1;
  left: 5px;
}

@keyframes showTodo {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
