.todo-add-todo {
  position: absolute;
  top: -130px;
  left: -15px;
  height: 110px;
  width: 110%;
  background: black;
  border-radius: 8px;
  transition: transform 0.3s ease;
  transform: scaleY(0);
  transform-origin: 0 100%;
}
.todo-add-todo-on {
  transform: scaleY(1);
}
.todo-add-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.add-todo-input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding-left: 20px;
  padding-top: 15px;
  font-size: 17px;
  font-weight: 500;
  resize: none;
  width: 100%;
  height: 70%;
  overflow: hidden;
}
.add-todo-click {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.849);
  bottom: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background: #fff;
    transform: scale(1.3);
  }
}
.add-todo-cancel {
  right: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
    height: 60%;
    width: 2px;
    border-radius: 5px;
    background: rgba(255, 95, 87, 0.678);
    position: absolute;
    &:nth-child(1) {
      transform: rotate(40deg);
    }
    &:nth-child(2) {
      transform: rotate(-40deg);
    }
  }
}
.add-todo-confirm {
  right: 40px;
  pointer-events: none;
  & > svg {
    position: absolute;
    left: 23%;
    top: -2px;
    pointer-events: none;
  }
}
.add-todo-confirm-on {
  animation: submitOn 0.7s;
  pointer-events: unset !important;
}
@keyframes submitOn {
  50% {
    transform: scale(1.3);
    background: #fff;
  }
  100% {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.849);
  }
}
