.search-todo-arrow {
  position: absolute;
  right: 10%;
  will-change: transform;
  transition: 0.3s ease;
}
.search-todo-arrow-down {
  transform: rotate(180deg);
}
.search-h6 {
  font-weight: 500;
  font-size: 16px;
  transform-origin: 0 100%;
  transition: opacity 0.3s, transform 0.3s;
}
.search-h6-off {
  transform: translateX(-30px);
  opacity: 0;
}
.search-input {
  position: absolute;
  height: 100%;
  width: 75%;
  left: 10%;
  border: none;
  outline: none;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.search-input-on {
  pointer-events: all;
  opacity: 1;
}
.search-vi-btn {
  position: absolute;
  right: 85px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.search-vi-btn-on {
  opacity: 1;
}
