.load-success-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  position: relative;
}
.load-success-div {
  width: 80%;
  height: 40px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showTodo 0.5s ease forwards;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  &:hover > .load-todo-delete {
    right: 10px;
    opacity: 1;
    pointer-events: unset;
  }
}
.load-todo-delete {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -10px;
  opacity: 0;
  transition: right 0.2s, opacity 0.5s;
  pointer-events: none;
  div {
    pointer-events: none;
  }
  &:hover {
    background: rgba(150, 143, 143, 0.151);
  }
  &:hover ~ .load-todo-delete-hover {
    transition: 0.2s;
    transition-delay: 0.7s;
    opacity: 1;
  }
}
.load-todo-delete-inside {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  :nth-child(1),
  :nth-child(2) {
    width: 1px;
    height: 60%;
    background: rgba(0, 0, 0, 0.507);
    position: absolute;
  }
  :nth-child(1) {
    transform: rotate(45deg);
  }
  :nth-child(2) {
    transform: rotate(-45deg);
  }
}
.load-todo-delete-hover {
  position: absolute;
  height: 20px;
  width: 50px;
  background: #fff;
  border: solid 0.5px;
  border-radius: 4px;
  right: 0;
  top: 37px;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  opacity: 0;
}
.load-success-p {
  transition: color 0.3s;
  color: #ff5e57;
  font-weight: 600;
  font-size: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #00d2d3;
  }
}
.load-success-p-done {
  color: #00d2d3;
  &:hover > p {
    color: #ff5e57;
  }
}
.load-todo-svg {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 3px;
  transition: 0.3s;
  opacity: 0;
  left: 0;
  pointer-events: none;
}
.load-todo-svg-on {
  opacity: 1;
  left: 5px;
}

@keyframes showTodo {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
