.search-todo-box {
  position: absolute;
  top: -90px;
  left: -15px;
  height: 80px;
  width: 110%;
  background: black;
  border-radius: 8px;
  transition: 0.3s ease;
  color: #fff;
  padding-bottom: 15px;
  padding-left: 20px;
  transform: scaleY(1);
  transition: 0.3s ease;
  transform-origin: 0 100%;
}
